.banner{
  
    background-image: url('tarotbackground.jpg');
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
  }
  main{
    position: relative;
    width: 80rem;
    height: 40rem;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.956);
    backdrop-filter: blue(200px);
    filter: blur();
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.637) inset,0rem 0rem 3rem rgba(0, 0, 0, 0.792);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    
}
body{
    font-family: sans-serif;
    overflow: hidden;
    font-weight: 400;
    height: 97.9vh;
    color: #333;
    background-image: linear-gradient(to top left,#753682 0%, #bf2e34 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1{
    display: inline;
    text-align: center;
    position: relative;
    top: -500px;
    left: 75px;
}
img{
    position: relative;
    top: 40px;
    right: 95px;
    height: 510px;
}
.tarotresmikutusu{
    width: 670px;
}
.yazikutusu{
    width: 500px;
    height: 640px;
    margin-top: 50px;
    padding-right: 10px;
}
.btn-bordered-black {
    width: 240px;
    display: inline-block;
    border: 3px solid #000;
    color: #000!important;
    text-decoration: none;
    padding: 17px 20px;
    font-weight: 700;
    margin-top: 30px;
    text-align: right;
}
.btn-bordered-black4 {
    width: 240px;
    display: inline-block;
    border: 3px solid #000;
    color: #000!important;
    text-decoration: none;
    padding: 17px 20px;
    font-weight: 700;
    margin-top: 30px
}
.btn-bordered-black3 {
    width: 240px;
    display: inline-block;
    border: 3px solid #000;
    color: #000!important;
    text-decoration: none;
    padding: 17px 20px;
    font-weight: 700;
    margin-top: 30px
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: auto;
    font-family: 'Poppins',sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 40px;
    background: #27282c;
}
.btn-bordered-black2 {

position: relative;
top: 480px;
left: 26%;
height: 20px;
}
.btn-bordered-black2{
    position:relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
.btn-bordered-black2:hover{
    letter-spacing: .25em;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
    left: 23%;
}
.btn-bordered-black2::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
.btn-bordered-black2 span{
    position: relative;
    z-index: 1;
}
.btn-bordered-black2 i{
    position: absolute;
    inset: 0;
    display: block;
}
.btn-bordered-black2 i::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    background: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
.btn-bordered-black2:hover i::before{
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 40px 39px var(--clr);
}
.btn-bordered-black2 i::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -6px;
    left: 0%;
    transform: translateX(-50%);
    background: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
.btn-bordered-black2:hover i::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 38px -39px var(--clr);
}
@media screen and (max-width: 700px) {
    .btn-bordered-black2 {

        position: relative;
        top: 480px;

        left: 0%;
        height: 20px;
        }



}


























































.btn-bordered-black3 {
    width: 150px;
    text-align: center;
    display: inline-block;
    border: 3px solid #000;
    color: #000!important;
    text-decoration: none;
    padding: 17px 20px;
    font-weight: 700;
}
.hidden{
    display: none;
}
.asdasd2{
    display: inline-block;
}
.asdasd{
    display: inline-block;
}
.hidden2{
    visibility: hidden;
}